.App {
  text-align: center;
  width: 90%;
  margin: 1em auto;
  min-height: 400px;
  border: 1px solid #3A7F0D;
  background: #fff;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
}

.pulse path {
  animation: App-logo-pulse alternate 1s infinite;
}

h2 {
  font-size: 18px;
  font-weight: 900;
  color: grey;
  text-align: left;
  margin: 1em;
}

.transcript,
.transcript input {
  font-size: 18px;
  font-style: italic;
  color: grey;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.accuracy {
  font-size: 12px;
}

.error {
  color: red;
}

@keyframes App-logo-pulse {
  from {
    fill: black;
  }
  to {
    fill: red;
  }
}
